body, html {
  height: 100%;
  margin: 0;
}

.bgMtn1 {
  /* The image used */
  background-image: url("./media/images/IMG_20180724_090202.jpg");

  /* Full height */
  height: 300px; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgMtn2 {
  /* The image used */
  background-image: url("./media/images/timpanogos.jpg");

  /* Full height */
  height: 300px; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-spacer {
    margin-top: 100px;
}

#personalImg {
    max-height: 200px;
    margin-top: 200px;
}
