body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("/web/media/images/IMG_20180724_090202.jpg");

  /* Full height */
  height: 50%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-spacer {
    height: 70%;
}

#personalImg {
    max-height: 200px;
    
}
