body, html {
  height: 100%;
  margin: 0;
}

.bgMtn1 {
  /* The image used */
  background-image: url("./media/images/IMG_20180724_090202.jpg");

  /* Full height */
  height: 300px; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgMtn2 {
  /* The image used */
  background-image: url("./media/images/timpanogos.jpg");

  /* Full height */
  height: 500px; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.spacer-top-img {
    margin-top: 170px;
}

.size-img-small {
    max-height: 175px;
}

.size-img-large {
    max-height: 500px;
}

.txt-styling-img {
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-size: 22px;
}

.txt-styling {
    color: black;
    font-size: 23px;
}

.align-md {
     margin: 0 auto;
     max-width: 700px;
}

.mrgn {
    margin-bottom: 20px;
}


